/*
Reglas: Conformadas de selectores, declaraciones propiedades y valores
Selectores: Formados acerca del como indentificamos un elemento HTML
Declaraciones: La forma en que ocupamos el selector
Propiedades: Particularidades de los elementos
Valores: Esperan recibir a manera de variables
*/

/*Selector de etiqueta: como por ejemplo header- section- article- nav*/
/*header{
    background: rgb(167, 112, 121) /*!important         Solo usar important en casos muy particulares;
    color:red
}*/

/*Selector descendente, elemento hijo de algún otro elemento*/
/*body header div nav ol li a*/

/*Selector de id o selector de clase: */
/*.link*/

/*Selector de id:*/
/*#portafolio*/

body{
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    /*font-style: italic;*/
} 
h1{
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2px;
    color:white;
    /*text-transform: capitalize;*/
    /*text-decoration: dashed;*/
}
h1 strong{
    color: #026fff;
}
.project-details{
    width: 500px;
    height: 0px;
}
.project-imageContainer{
    width: 500px;
}
.hero{
    height: 300px;
    background-color: #1b2127;
    background-image: url('../images/hero.jpg');
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right;

}
.header{
    background-color: #1b2127;
    color: white;
}
.header a{
    color:white;
    text-decoration: none;
}